@import url('../app.css');

body {
    background: #444f5a;
}

.form-container {
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
}

form {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.816);
    padding: 30px 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.btn-theme {
    background: linear-gradient(250deg, #9f0101, #0a0094);
}
.btn-theme:hover {
    background: linear-gradient(250deg, #0a0094, #9f0101);
}

nav input+label {
	background-color: rgb(158, 159, 155);
	
}
nav input+label:after {
	background-color: rgb(254, 0, 238);
	color: rgb(0, 28, 68);
}